<h3><%= @post.title %></h3>
<h5>posted by: <%= @post.contributor %> on <%= @post.created_at.strftime("%B %d, %Y") %></h5>
<img src='<%= @post.image %>'>



<p><%= link_to "Edit Post", edit_post_path(@post) %></p>
<p><%= link_to "Delete Post", post_path(@post), :method => 'delete' %></p>

<hr>

<% if @post.tags.any? %>
  <h5>Tags for this post:</h5>

  <ul>
    <% @post.tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet!</p>
<% end %>
