<h1><%= @category.name %></h1>

<p><%= link_to "Update Category", edit_category_path(@category) %></p>

<p><%= link_to "Delete Category", category_path(@category), :method => 'delete' %></p>

<hr>




<% if @category.posts.any? %>
  <ul>
    <% @category.posts.each do |post| %>
      <li><h4><%= post.title %></h4> by <%= post.contributor %></li>
      <li><img src='<%= post.image %>'></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no posts yet!</p>
<% end %>






<p><%= link_to "Add Post", new_category_post_path(@category) %></p>

<hr>

<p><%= link_to "Home", categories_path %></p>
