<h2><%= @category.name %> Housing Ideas</h2>
  <p><%= link_to "Update Category", edit_category_path(@category) %></p>
  <p><%= link_to "Delete Category", category_path(@category), :method => 'delete' %></p>
<hr>

<% if @category.posts.any? %>
  <ul>
    <% @category.posts.each do |post| %>
      <li><h4><%= post.title %></h4></li>
      <li>Posted by <%= post.contributor %> on <%= post.created_at.strftime("%B %d, %Y") %></li>
      <li><%= post.description %></li>
      <li><img src='<%= post.image %>'></li>
      <li><%= link_to "Update Post", edit_category_post_path(@category, post) %></li>
      <li><%= link_to "Delete Post", category_post_path(@category, post), :method => 'delete' %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no posts!</p>
<% end %>

<p><%= link_to "Add Post", new_category_post_path(@category) %></p>
